# Compiled Object Files
*.obj

# Compiled Static Libraries
*.lib

# Executables
*.exe

# Build Directories
bin
libs
obj

# Visual Studio Files
.vs
.vscode
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Makefiles
Makefile
*.make