# Compiled Object Files
*.obj

# Compiled Static Libraries
*.lib
!thirdparty/game-networking/libs/Windows/Debug/*.lib
!thirdparty/game-networking/libs/Windows/Release/*.lib

# Executables
*.exe

# Build Directories
bin
libs
obj
!thirdparty/game-networking/libs

# Visual Studio Files
.vs
.vscode
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Makefiles
Makefile
*.make